.footer-section{

    color:#fff;
    background-image: url("../../../Images/image4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;

}

.follow{
    font-size: 1.5rem;
    font-weight: bold;
}


/* 
https://ibb.co/x2vL0TS
https://ibb.co/frJ7rQs
https://ibb.co/DMPwYqc
https://ibb.co/PrQQ4sn
https://ibb.co/Ry4BYcT
https://ibb.co/LCH3TMd
https://ibb.co/3MvWmHQ
https://ibb.co/JKcjBkG
https://ibb.co/SftrZKY
https://ibb.co/mHgwhZt
https://ibb.co/nnV69hS */